<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/quiche/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/quiche/static/fontawesome/css/all.min.css">
    <script src="/quiche/static/js/jquery.min.js"></script>
    <script src="/quiche/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Contab</title>
  </head>
  <body class="m-0 h-100">
    {{include}}
    <script src="/quiche/static/js/vue.js"></script>
    <script src="/quiche/static/js/components/ds.js"></script>
    <script src="/quiche/static/js/components/left.js"></script>
    <script src="/quiche/static/js/components/app.js"></script>
  </body>
</html>