<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Contab</title>
  <link rel="stylesheet" href="{{=URL('static', 'src/modules/fontawesome/css/all.min.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'src/modules/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'src/modules/bootstrap-icons/font/bootstrap-icons.css')}}">
  <link rel="shortcut icon" href="{{=URL('static','src/assets/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','src/assets/favicon.png')}}">

  <link rel="stylesheet" href="{{=URL('static', 'src/assets/App.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'src/assets/SideTab.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'src/assets/Sheet.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'src/assets/PrintPDF.css')}}">
<!--
  <script src="{{=URL('static','src/modules/alasql/alasql.min.js')}}"></script>
  <script src="{{=URL('static','src/modules/alasql/xlsx.core.min.js')}}"></script>
-->
  <script src="{{=URL('static', 'src/modules/pdfmake-0.1/build/pdfmake.min.js')}}"></script>
  <script src="{{=URL('static', 'src/modules/pdfmake-0.1/build/vfs_fonts.js')}}"></script>

  <script src="{{=URL('static','src/modules/axios/axios.js')}}"></script>
  <script src="{{=URL('static','src/modules/vue.js')}}"></script>
  <script src="{{=URL('static','src/modules/vuex.js')}}"></script>
  <script src="{{=URL('static','src/modules/vue-router.js')}}"></script>
  <script src="{{=URL('static','src/modules/col-row-plus.js')}}"></script>

  <!-- https://mymth.github.io/vanillajs-datepicker -->
  <link rel="stylesheet" href="{{=URL('static','src/modules/datepicker/css/datepicker.min.css')}}"/>
  <script src="{{=URL('static','src/modules/datepicker/js/datepicker-full.min.js')}}"></script>
  <script src="{{=URL('static','src/modules/datepicker/js/locales/es.js')}}"></script>

</head>
<body>
<noscript>
  <strong>We're sorry but this application doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong>
</noscript>
<div id="app"></div>
<!--
<script src="{{=URL('static','src/modules/jquery.min.js')}}"></script>
-->
<script src="{{=URL('static','src/modules/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{=URL('static','src/store/index.js')}}"></script>

<script src="{{=URL('static','src/views/NotFound.js')}}"></script>
<script src="{{=URL('static','src/views/Sheet.js')}}"></script>
<script src="{{=URL('static','src/views/Pay.js')}}"></script>

<!-- components -->
<script src="{{=URL('static','src/components/Header.js')}}"></script>
<script src="{{=URL('static','src/components/SideTab.js')}}"></script>
<script src="{{=URL('static','src/components/Calendar.js')}}"></script>
<script src="{{=URL('static','src/components/Config.js')}}"></script>
<script src="{{=URL('static','src/components/PrintPDF.js')}}"></script>
<script src="{{=URL('static','src/components/Exclude.js')}}"></script>
<script src="{{=URL('static','src/components/bsComponents.js')}}"></script>

<script src="{{=URL('static','src/router/index.js')}}"></script>
<script src="{{=URL('static','src/App.js')}}"></script>
</body>
</html>